<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
		<string>com.apple.dt.unit.iPhoneBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAMEASIDENTIFIER___.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.h</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___NSBundleAdditions.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___NSBundleAdditions.h</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___NSBundleAdditions.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___NSBundleAdditions.m</string>
		</dict>
		<key>___PACKAGENAME___-Prefix.pch:objC:importFoundation</key>
		<string>#import &lt;Foundation/Foundation.h&gt;
</string>
	</dict>
	<key>Description</key>
	<string>This template builds a static library that links against the Foundation framework.</string>
	<key>Identifier</key>
	<string>de.ddsheimat.dt.unit.cocoaTouchStaticLibrary</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:objC:importFoundation</string>
		<string>___PACKAGENAMEASIDENTIFIER___.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___NSBundleAdditions.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___NSBundleAdditions.m</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>true</string>
			<key>Description</key>
			<string>Whether a unit test bundle should be created</string>
			<key>Identifier</key>
			<string>includeUnitTests</string>
			<key>Name</key>
			<string>Include Unit Tests</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.cocoaTouchFrameworkUnitTestBundle</string>
								<key>Name</key>
								<string>___PACKAGENAME___Tests</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string>true</string>
			<key>Description</key>
			<string>Whether a resource bundle should be created (for xibs, images, etc)</string>
			<key>Identifier</key>
			<string>includeResourceBundle</string>
			<key>Name</key>
			<string>Include Resouce Bundle</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>de.ddsheimat.dt.unit.cocoaTouchFrameworkResourceBundle</string>
								<key>Name</key>
								<string>___PACKAGENAME___Resources</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string>true</string>
			<key>Description</key>
			<string>Include xcconfig configuration files</string>
			<key>Identifier</key>
			<string>includeXcconfigs</string>
			<key>Name</key>
			<string>Include xcconfig files</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>../Configurations/Project.xcconfig</key>
							<dict>
								<key>Path</key>
								<string>Project.xcconfig</string>
								<key>TargetIndices</key>
								<array/>
							</dict>
							<key>../Configurations/Library-Base.xcconfig</key>
							<dict>
								<key>Path</key>
								<string>Library-Base.xcconfig</string>
								<key>TargetIndices</key>
								<array/>
							</dict>
							<key>../Configurations/Library-Release.xcconfig</key>
							<dict>
								<key>Path</key>
								<string>Library-Release.xcconfig</string>
								<key>TargetIndices</key>
								<array/>
							</dict>
							<key>../Configurations/Library-Debug.xcconfig</key>
							<dict>
								<key>Path</key>
								<string>Library-Debug.xcconfig</string>
								<key>TargetIndices</key>
								<array/>
							</dict>
							<key>../Configurations/Warnings.xcconfig</key>
							<dict>
								<key>Path</key>
								<string>Warnings.xcconfig</string>
								<key>TargetIndices</key>
								<array/>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>../Configurations/Project.xcconfig</string>
							<string>../Configurations/Library-Base.xcconfig</string>
							<string>../Configurations/Library-Release.xcconfig</string>
							<string>../Configurations/Library-Debug.xcconfig</string>
							<string>../Configurations/Warnings.xcconfig</string>
						</array>
						<key>Project</key>
						<dict>
							<key>BasedOn</key>
							<dict>
								<key>Debug</key>
								<string>../Configurations/Project.xcconfig</string>
								<key>Release</key>
								<string>../Configurations/Project.xcconfig</string>
							</dict>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>BasedOn</key>
								<dict>
									<key>Debug</key>
									<string>../Configurations/Library-Debug.xcconfig</string>
									<key>Release</key>
									<string>../Configurations/Library-Release.xcconfig</string>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict/>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Headers</string>
				</dict>
			</array>
			<key>Frameworks</key>
			<array>
				<string>Foundation</string>
			</array>
			<key>ProductType</key>
			<string>com.apple.product-type.library.static</string>
			<key>SharedSettings</key>
			<dict>
				<key>DSTROOT</key>
				<string>/tmp/___PACKAGENAMEASIDENTIFIER___.dst</string>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>YES</string>
				<key>GCC_PREFIX_HEADER</key>
				<string>___PACKAGENAME___/___PACKAGENAME___-Prefix.pch</string>
				<key>OTHER_LDFLAGS</key>
				<string>-ObjC</string>
				<key>SKIP_INSTALL</key>
				<string>YES</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
