<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Concrete</key>
	<false/>
	<key>Definitions</key>
	<dict>
		<key>Project.xcconfig</key>
		<dict>
			<key>Path</key>
			<string>Project.xcconfig</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template adds xcconfig files to a project</string>
	<key>Identifier</key>
	<string>de.ddsheimat.libraryXcconfigs</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Project.xcconfig</string>
	</array>
</dict>
</plist>
